plaintext
# Ignoriere alles im Arbeitsverzeichnis
*

# Aber tracke explizit den src-Ordner
!src/
!arduino/
!build.sh

# Weiterhin ignoriere alles im src-Ordner, falls spezifische Dateien ausgeschlossen werden müssen
src/**/*
!src/**/

# Behalte die Wichtigkeit von Versionierungen bei
!.gitignore